{% extends base_template|default:"main/base.html" %}
{% load static %}

{% block main %}
<h2>
  Сертификаты
</h2>
<div class="certs">
  <section>
   <img src="{% static 'main/images/cert.webp' %}">
   <h3>Сертификат производителя</h3>
  </section>
  <section>
   <img src="{% static 'main/images/cert.webp' %}">
   <h3>Сертификат производителя</h3>
  </section>
  <section>
   <img src="{% static 'main/images/cert.webp' %}">
   <h3>Сертификат производителя</h3>
  </section>
  <section>
   <img src="{% static 'main/images/cert.webp' %}">
   <h3>Сертификат производителя</h3>
  </section>
  <section>
   <img src="{% static 'main/images/cert.webp' %}">
   <h3>Сертификат производителя</h3>
  </section>
  <section>
   <img src="{% static 'main/images/cert.webp' %}">
   <h3>Сертификат производителя</h3>
  </section>
</div>
{% endblock main %}