{% extends base_template|default:"main/base.html" %}


{% block main %}
  <h2>
    Контакты
  </h2>
  <div class="contacts">
    <div class="contacts-map">
      <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A00161e75ff9db78b2c32cd9f062f8c6f5ea79f8309c40b387d97084b442e7db0&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
    <div class="contacts-text">
      <p>
        Наш адрес: г. Новосибирск, ул. Тюленина, 26
      </p>
      <p>
        Телефон/факс: 8-383-1234567
      </p>
      <p>
        Электронная почта: <a href="mailto:office@service-python.ru">office@servicepython.ru</a>
      </p>
      <p>
        Банковские реквизиты:
      </p>
      <p>
        ИНН 1541647859,<br>
        р/с 40702810123456789 в АКБ "Новосибирск-банк",<br>
        к/с 30101810123456789,<br>
        БИК 054789321<br>
      </p>
      <p>
        Генеральный директор: Бобылев Феоктист Львович
      </p>
    </div>
  </div>
{% endblock main %}
