{% extends base_template|default:"main/base.html" %}


{% block main %}
<h2>
  Услуги и цены
</h2>
<div>
  <p>
    Коммерческий ремонт:
  </p>
  <ul>
    <li>
      Коммерческий ремонт 1 - 1000 руб.
    </li>
        <li>
      Коммерческий ремонт 2 - 2000 руб.
    </li>
    <li>
      Коммерческий ремонт 3 - 3000 руб.
    </li>
    <li>
      Коммерческий ремонт 4 - 4000 руб.
    </li>
    <li>
      Коммерческий ремонт 5 - 5000 руб.
    </li>
  </ul>
</div>
<div>
  <p>
  Выездной ремонт:
  </p>
  <ul>
    <li>
      Зона 1 - 1500 руб.
    </li>
        <li>
      Зона 2 - 2500 руб.
    </li>
    <li>
      Зона 3 - 3500 руб.
    </li>
  </ul>
    <p>
  Доставка отремонтированного оборудования:
  </p>
  <ul>
    <li>
      Зона 1 - 1000 руб.
    </li>
        <li>
      Зона 2 - 2000 руб.
    </li>
    <li>
      Зона 3 - 3000 руб.
    </li>
  </ul>
</div>
<div></div>
{% endblock main %}