.container{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100px;
    min-width: 500px;
    margin: 100px auto;
    border: 1px solid black;
    background: #F8F8F8;
    align-items: center;
}

.header{
    display: flex;
    text-align: center;
    font-size: 20px;
    padding: 10px;
}

.text{
    text-align: center;
}

.errorlist{
    display: flex;
}

.content{
    display: flex;
    padding: 10px;
}

.form-row{
    display: flex;
}

.submit-row{
    display: flex;
}

.lost-pass{
    display: flex;
}

a{
    text-decoration: none;
    color: darkblue;
}

a:hover, a:active{
    color: #156741;
}

.hidden{
    display: none;
}

.errorlist{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.errornote{
    text-align: center;
}

.error{
    padding-left: 32px;
    color: red;
}