.header p{
   font-size: 15px;
   text-align: right;
}

table{
    width: auto;
}

table, tr, td{
    border: 1px solid;
    border-collapse: collapse;
    padding: 10px;
}

table td{
    font-size: 20px
}
