body{
    height: 1000px;
}

.header{
    text-align: center;
}

h3{
    margin: 5px;
}

table{
    width: auto;
}

table, tr, td{
    border: 1px solid;
    border-collapse: collapse;
    padding: 10px;
}

table td{
    font-size: 20px
}

table img{
    height: 50px;
    padding-top: 10px;
}

.stamp{
    margin: 20px 20px;
}