header p{
   font-size: 15px;
   text-align: right;
}

header a{
    text-decoration: none;
    color: darkblue;
    font-weight: 600;
}

header a:hover, a:active{
    color: #156741;
}

main{
    padding: 20px;
}

.container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: stretch;
}

form {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: stretch;
}

.box{
    flex-basis: 20%;
    font-size: 18px;
    background-color: #F8F8F8;
    padding: 5px 20px;
    margin: 10px;
    border: 1px lightgrey solid;
}

.box-button{
    margin: 10px;
    width: 100%
}

table{
    flex-basis: 100%;
    border: darkgrey;
    border-collapse: collapse;
    background: #F8F8F8;
}

table, th, tr, td {
    font-size: 18px;
    border: 1px solid;
    border-collapse: collapse;
    padding: 10px;
}

table td{
    font-weight: normal;
}

table a{
    text-decoration: none;
    color: darkblue;
}

table a:hover, a:active{
    color: #156741;
}

.pagination{
    margin-top: 10px;
}

.errorlist{
    color: red;
}

p .button{
    align: center;
}

.catalog a{
    font-size: 18px;
    text-decoration: none;
    color: darkblue;
}

.catalog a:hover, a:active{
    color: #156741;
}