.header p{
   font-size: 15px;
   text-align: right;
}

.header a{
    text-decoration: none;
    color: darkblue;
    font-weight: 600;
}

.header a:hover, a:active{
    color: #156741;
}

table{
    border: darkgrey;
    border-collapse: collapse;
    background: #F8F8F8;
}

table, th, tr, td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 10px;
}

table td{
    font-weight: normal;
}

table a{
    text-decoration: none;
    color: darkblue;
}

table a:hover, a:active{
    color: #156741;
}

.step-links a{
    text-decoration: none;
    color: darkblue;
    font-weight: 600;
}

.step-links a:hover, a:active{
    color: #156741;
}

.pagination{
    margin-top: 10px;
}

.data:hover {
    background-color: white;
    }

fieldset{
    font-size: 18px;
    background: #F8F8F8;
}

legend{
    padding: 3px 6px;
    font-size: 20px;
}

.errorlist{
    color: red;
}

p .button{
    align: center;
}