/*a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var
{background:transparent;border:0 none;font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:top;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
table,table td{padding:0;border:none;border-collapse:collapse;}
img{vertical-align:top;}
embed{vertical-align:top;}
input[type=text],textarea{outline:none;border-radius:0;}*/

/* Common */
html, body {
  height: 100%;
  margin: 0;
}

/* Container */
.container{
    background: #F8F8F8;
    width: 1300px;
    margin: 0 auto;
}

.container h2{
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    color: #20AA76;
    padding-left: 10px;
}

.container p{
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Header */
header{
    text-decoration: none;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.top_menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px
}

.top_menu_logo img{
    vertical-align: middle;
    padding: 5px 0px;
    height: 50px;
}

.top_menu a{
    text-decoration: none;
    font-size: 23px;
    font-family: 'Oswald', sans-serif;
    color: #20AA76;
}

.top_menu a:hover, a:active{
    color: #156741;
}

/* Main */
main{
    display: flex;
    margin-top: 85px;
    min-height: 100vh;
    padding-bottom: 35px;
}

.certs{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
   margin-bottom: 50px;
}

section {
   width: 300px;
   height: 400px;
   margin: 10px;
   padding: 20px;
   background-color: #f0f0f0;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

  section img {
   max-width: 100%;
   max-height: 75%;
   margin-bottom: 20px;
  }

li{
    list-style-type: "✔";
    padding-left: 5px;
}

.contacts{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.contacts-map{
    height: 400px;
    width: 40%;
}

.contacts-text{
    width: 40%;
}

/* Footer */
footer{
    display: flex;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.bottom_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 7px;
}

.bottom_menu a{
    text-decoration: none;
}

.bottom_menu_item#right{
    /*display: inline;*/
}

.django {
    color: green;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
}

/* Captcha */
.captcha{
    vertical-align: middle;
}

table th{
    font-size:20px;
    text-align: right;
    vertical-align: top;
}

table input #ip_captcha_1{
    vertical-align: top;
}

input{
    display: inline-block;
    vertical-align: top;
    width: auto;
}

.hidden{
    display: none;
}
