{% extends base_template|default:"accounts/base.html" %}
{% load i18n %}
{% block main%}
<div class="header">
    <p>{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>
</div>
<div class="content">
  <div class="text">
    <p>{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>
    <p><a href="{% url 'login'%}">Вход в служебный раздел</a></p>
  </div>
</div>
{% endblock main%}