{% extends "accounts/base.html" %}
{% load i18n %}

{% block main %}
{% if validlink %}
<div class="header">
  <p>Сброс пароля</p>
</div>

  <div class="errorlist">
  {{ form.new_password1.errors }} {{ form.new_password2.errors }}
  </div>

  <div class="content">
  <form method="post" action="">
    {% csrf_token %}
    <input class="hidden" autocomplete="username" value="{{ form.user.get_username }}">
    <div class="form-row">
      <table>
        <tr>
          <td>{% translate 'New password:' %}</td>
        <td>{{ form.new_password1 }}</td>
        </tr>
        <tr>
          <td>{% translate 'Confirm password:' %}</td>
        <td>{{ form.new_password2 }}</td>
        </tr>
      </table>
    </div>

    <div class="submit-row">
      <input type="submit" value="{% translate 'Change my password' %}" />
    </div>
  </form>
  </div>
{% else %}
<div class="header">
<p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
</div>
<div class="lost-pass">
  <p><a href="{% url 'password_reset' %}">Восстановить пароль</a></p>
</div>
{% endif %}
{% endblock main%}