{% extends "accounts/base.html" %}
{% load i18n %}

{% block main %}
<div class="header">
  <p>Смена пароля</p>
</div>

<div class="errorlist">
  {% if form.errors %}
    <p class="errornote">
        {% if form.errors.items|length == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}
    </p>
{% endif %}
  <div>
  <div class="error">{{ form.old_password.errors }}</div>
  <div class="error">{{ form.new_password1.errors }}</div>
  <div class="error">{{ form.new_password2.errors }}</div>
  </div>
</div>


<div class="content">
  <form method="post">
  {% csrf_token %}
    <div class="text">
      <p>
        {% translate 'Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.' %}
      </p>
    </div>
    <div>
      {% if form.new_password1.help_text %}
      <div class="help"{% if form.new_password1.id_for_label %} id="{{ form.new_password1.id_for_label }}_helptext"{% endif %}>
        {{ form.new_password1.help_text|safe }}
      </div>
      {% endif %}
    </div>

    <div class="form-row">
      <table>
        <tr>
          <td>{{ form.old_password.label_tag }}</td>
          <td>{{ form.old_password }}</td>
        </tr>
        <tr>
          <td>{{ form.new_password1.label_tag }}</td>
        <td>{{ form.new_password1 }}</td>
        </tr>
        <tr>
          <td>{{ form.new_password2.label_tag }}</td>
        <td>{{ form.new_password2 }}</td>
        </tr>
      </table>
    </div>

  <div class="submit-row">
      <input type="submit" value="{% translate 'Change my password' %}" class="default">
  </div>
  </form>
</div>

{% endblock main%}